# =========================
# Node
# =========================
node_modules
**/node_modules

# Vite cache ONLY (not dist)
frontend/.vite

# =========================
# Python
# =========================
venv/
.venv/
env/
backend/venv/
backend/.venv/

# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Secrets
# =========================
.env
.env.*
*.pem
*.key

# =========================
# Misc
# =========================
.DS_Store
.git
.vscode/
*.log
.github/
